<ul data-binding='{"WebApi":"/api/Connections", "PrimaryKeys":["ConnectionID"], "IsGranularUpdate":true}' id="Grid" class="ftable" style="margin:0px auto;">
    <li data-binding="Header" class="fheader">
        <div>
            Connection
        </div>
        <div>
            Value
        </div>        
    </li>
    <li data-binding="Template" class="fline">
        <div><input type="text" data-binding="Name" /></div>
        <div><input type="text" data-binding="ConnectionString" style="width:40em;" /></div>
    </li>
        <li data-binding="Footer" class="fline">
        <div><input type="text" data-binding="Name" /></div>           
        <div style="text-align:right;"><a href="javascript:" data-binding="insert">insert</a></div>
    </li>
</ul>
