<ul data-binding='{"WebApi":"/api/Project/ConnectionStrings", "PrimaryKeys":["ConnectionStringID"], "IsGranularUpdate":true}' id="Grid" class="ftable" style="margin:0px auto;">
    <li data-binding="Header" class="fheader">
        <div>
            Machine Name
        </div>
        <div>
            Connection String
        </div>
        <div>
            Is Default
        </div>
        <div>
            Is Production
        </div>
        <div></div>        
    </li>
    <li data-binding="Template" class="fline">
        <div><input type="text" data-binding="MachineName" /></div>
        <div><input type="text" data-binding="Value" /></div>
        <div><input type="checkbox" data-binding="IsDefault" /></div>
        <div><input type="checkbox" data-binding="IsProduction" /></div>        
        <div><a href="javascript:" data-binding='{"delete":"true"}'>delete</a></div>        
    </li>
    <li data-binding="Footer" class="fline">
        <div><input type="text" data-binding="MachineName" /></div>
        <div><input type="text" data-binding="ProjectID" style="display:none" id="InsertProjectID"/></div>
        <div></div>        
        <div></div>        
        <div><a href="javascript:" data-binding="insert">insert</a></div>
    </li>
</ul>