<ul data-binding='{"WebApi":"/api/Project/Enums", "PrimaryKeys":["EnumID"], "IsGranularUpdate":true}' id="Grid" class="ftable" style="margin:0px auto;">
    <li data-binding="Header" class="fheader">
        <div>Connection</div>
        <div>
            Enum
        </div>
        <div>
            Table Name
        </div>
        <div>
            Value Column
        </div>
        <div>Display Column</div>
        <div>Has Flags</div>
        <div>Include None</div>
        <div>Filter Column</div>
        <div>Filter Value</div>
        <div></div>
        <div></div>
    </li>
    <li data-binding="Template" class="fline">
        <div><select data-binding='{"value": "ConnectionID", "displaymember":"Name", "valuemember":"ConnectionID", "datasource":"Data.Connections"}'></select></div>
        <div><input type="text" data-binding="Name" /></div>
        <div><input type="text" data-binding="TableName" /></div>
        <div><input type="text" data-binding="ValueColumn" /></div>
        <div><input type="text" data-binding="DisplayColumn" /></div>
        <div><input type="checkbox" data-binding="HasFlags" /></div>
        <div><input type="checkbox" data-binding="IncludeNoneValue" /></div>
        <div><input type="text" data-binding="FilterColumn" /></div>
        <div><input type="text" data-binding="FilterValue" /></div>
        <div><a href="javascript:" data-binding='{"onclick":"Project.Enums.TypeScript({obj})"}'>type script</a></div>
        <div><a href="javascript:" data-binding='{"delete":"true"}'>delete</a></div> 
    </li>
        <li data-binding="Footer" class="fline">
        <div><select data-binding="ConnectionID" id="InsertConnectionID"></select></div>
        <div><input type="text" data-binding="Name" /></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div><input type="text" data-binding="ProjectID" style="display:none" id="InsertProjectID"/></div>
        <div></div>  
        <div></div> 
        <div></div>     
        <div style="text-align:right;"><a href="javascript:" data-binding="insert">insert</a></div>
    </li>
</ul>
